/* Modal.css */
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-outer {
  background-color: white;
  border: 2px solid rgb(21, 104, 134);
  border-radius: 20px;
  width: 35%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-title {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.modal-label {
  width: 100%;
  color: black;
  text-align: left;
  margin-bottom: 5px;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-text-area {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.filter-mix-max-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-min-max-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.modal-button {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modal-button.bg-red-500:hover {
  background-color: #c53030;
}

.modal-button.bg-blue-500:hover {
  background-color: #2b6cb0;
}
